.container{
	width: 1205px;
	margin: auto;
}

span.icon-close{
	display: inline-block;
	background: url(../images/smallicons.png) no-repeat;
	width: 9px;
	height: 9px;
	margin-right: 5px;
}

i.icon-product{
	display: inline-block;
	float: left;
	width: 90px;
	height: 90px;
}


i.icon-product1{
	background: url(../images/bigicons.png) no-repeat -95px 5px;
}

i.icon-product2{
	background: url(../images/bigicons.png) no-repeat -195px 5px;	
}

i.icon-product3{
	background: url(../images/bigicons.png) no-repeat -295px 5px;	
}

span.icon-logo{
	background: url(../images/bigicons.png) no-repeat;
}

span.icon-logo{
	display: inline-block;
	width: 65px;
	height: 22px;
	position: relative;
	top: 4px;
}

.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	clear: both;
}

.m-content li.active{
	background: #21a557;
	color: white;
}

.tab-panel{
	float: left;
	width: 25%;
	margin-right: 0px;
	line-height: 2;
	font-size: 12px;
	background-color: #fff;
	box-shadow: 0 1px 2px 2px #ecebeb;
}

/* tab-panel组件 */
.tab-panel .channel{
	color: #999999;
}
.tab-panel .price{
	color: #ff3f00;
}

.panel{
	background-color: #fff;
	box-shadow: 0 1px 2px 2px #ecebeb;
	padding: 15px 0 20px;
}

.panel-heading{
	padding: 0 20px 15px;
	border-bottom: 1px solid #ddd;
}

.panel-body{
	padding: 20px 20px 0;
}