body {
	font-family: "Microsoft Yahei"
}

.container{
	width: 1205px;
	margin: auto;
}

span.icon-close{
	display: inline-block;
	background: url(../images/smallicons.png) no-repeat;
	width: 9px;
	height: 9px;
	margin-right: 5px;
}

.modal span.icon-close{
	position: absolute;
	top: 8px;
	right: 2px;
}

i.icon-product{
	display: inline-block;
	float: left;
	width: 90px;
	height: 90px;
}


i.icon-product1{
	background: url(../images/bigicons.png) no-repeat -95px 5px;
}

i.icon-product2{
	background: url(../images/bigicons.png) no-repeat -195px 5px;	
}

i.icon-product3{
	background: url(../images/bigicons.png) no-repeat -295px 5px;	
}

span.icon-logo{
	background: url(../images/bigicons.png) no-repeat;
}

span.icon-logo{
	display: inline-block;
	width: 65px;
	height: 22px;
	position: relative;
	top: 4px;
}

.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	clear: both;
}

.m-content li.active{
	background: #21a557;
	color: white;
}

.column{
	float: left;
	width: 25%;
	padding-right: 18px;
	padding-bottom: 20px;
	box-sizing:border-box;
	
}

.tab-panel{
	line-height: 2;
	font-size: 12px;
	background-color: #fff;
	box-shadow: 0 1px 2px 2px #ecebeb;	
}


/* tab-panel组件 */


.panel{
	background-color: #fff;
	box-shadow: 0 1px 2px 2px #ecebeb;
	padding: 15px 0 20px;
}

.panel-heading{
	padding: 0 20px 15px;
	border-bottom: 1px solid #ddd;
}

.panel-body{
	padding: 20px 20px 0;
}

span.icon-listener{
	display: inline-block;
	background: url(../images/smallicons.png) no-repeat -60px 0px;
	width: 10px;
	height: 10px;
	margin-right: 5px;

}

.mask, .modal{
	display: none;
}	

.mask{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1040;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background: #000;
}

.modal{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1050;
	width: 100%;
	height: 100%;
	text-align: center;
}

.modal-dialog{
	position: relative;
	padding-top: 1px;
	width: 600px;
	margin: 30px auto;
}

.modal .modal-dialog{
	background-color: #fff;	
}