.footer{
	padding: 80px 0;
	background: #2c3339;
	color: white;
}

.copyright, .footer ul{
	float: left;
	font-family: "Microsoft Yahei";	
	font-size: 14.58px;	
	line-height: 1.5;
}

.footer-right{
	float: right;
}

.footer li.title{
	font-size: 12.5px;
}

span.icon-logo{
	display: inline-block;
	width: 65px;
	height: 22px;
}

.copyright .item{
	display: inline-block;
	color: #39a030;
	font-size: 22px;
}

.copyright p.cr-content{
	font-size: 12.5px;
	color: #ffffff;
}

.f-links{
	padding-right: 95px;
}


.about-us{
	padding-right: 65px;
}