
/*全局*/
.head{
	height: 90px;
	width: 100%;
}


/*logo*/
.logo, .follow, .nav{
	padding: 35px 0;

}
a.logo, span.follow{
	float: left;
}

a.logo{
	width: 270px;
}

/* follow */
.follow{

}
.follow-btn{
	display: inline-block;
	position: relative;
	width: 55px;
	height: 22px;
	margin-right: 10px;
	background-color: #21a557;
	font-size: 12px;
	color: #ffffff;
	vertical-align: middle;
	border: 1px solid #21a557;
	border-radius: 2px;
}

.follow-btn span.icon-add{
	display: inline-block;
	width: 10px;
	height: 10px;	
	background: url(../images/smallicons.png) no-repeat -20px 0;
	position: absolute;
	left: 8px;
	top: 6px;
}

.follow-btn span.content{
	position: absolute;
	right: 8px;
	top: 2px;
	vertical-align: middle;
}

.m-fans{
	font-size: 12px;
	color: #666666;
}
.head div.nav{
	float: right;
}

.nav .p{
	margin-right: 50px;
}

.nav .p3{
	margin-right: 30px;
}
.head h1{
	display: inline-block;	
	font-size:22px;
	color: #333333;
}

.nav a{
	font-size: 16px;
	color: #666666;
}

.nav span.icon-search{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/smallicons.png) no-repeat -40px 2px;	
}


