
.m-login .login{
	width: 390px;
	height: 290px;
}

.m-login p{
	margin: 25px 0 20px 50px;
	text-align: left;
}

.m-login p.title{
	font-size: 18px;
	font-family: "Microsoft Yahei";		
}

.m-login input{
	margin-bottom: 15px;
	width: 290px;
	height: 40px;
	background: #fafafa;
	font-size: 16px;
	font-family: "Microsoft Yahei";			
}

.password input{
	margin-bottom: 30px;
}

button.login-btn{
	width: 290px;
	height: 45px;
	background: #1ca63d;
	color: #fff;
	font-size: 16px;
	font-family: "Microsoft Yahei";		
}



