/* products */
.products{
	padding: 60px 0;
}

li.product{
	float: left;
	width: 33.333%;
}


.product-intr{
	margin-left: 110px;
	width: 240px;
}

.product-intr h5{
	margin-bottom: 20px;
	font-family: "Microsoft Yahei";	
	font-size: 22px;
	color: #333333; 
}

.product-intr p{
	margin-bottom: 30px;
	font-family: "Microsoft Yahei";
	font-size: 14px;
	color: #666666;
	line-height: 25px;
}

.product-intr a{
	font-family: "Microsoft Yahei";
	font-size: 14px;	
	color: #39a030;
}

.office{
	width: 100%;
}

.office .item{
	float: left;
	width: 20%;
}

.office img{
	width: 100%;
}


.m-content{
	padding: 80px 0 120px;
	background-color: #f8f8f8;
}

 .left-fix{
	float: left;
	width: 100%;
	margin-right: -220px;
}

.m-content .right{
	float: right;
	width: 220px;
}

/* left */
.nav-tabs{
	margin-bottom: 30px;
}
.nav-tabs li{
	float: left;
	width: 200px;
	height: 48px;
	background: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 48px;
}

/* right */
.agency{
	margin-bottom: 20px;
}