/* products */
.products{
	padding: 60px 0;
}

li.product{
	float: left;
	width: 33.333%;
}


.product-intr{
	margin-left: 110px;
	width: 240px;
}

.product-intr h5{
	margin-bottom: 20px;
	font-family: "Microsoft Yahei";	
	font-size: 22px;
	color: #333333; 
}

.product-intr p{
	margin-bottom: 30px;
	font-family: "Microsoft Yahei";
	font-size: 14px;
	color: #666666;
	line-height: 25px;
}

.product-intr a{
	font-family: "Microsoft Yahei";
	font-size: 14px;	
	color: #39a030;
}

.office{
	width: 100%;
}

.office .item{
	float: left;
	width: 20%;
}

.office img{
	width: 100%;
}


.m-content{
	padding: 80px 0 120px;
	background-color: #f8f8f8;
}

 .left-fix{
	float: left;
	width: 100%;
	margin-right: -220px;
}

.left-fix .left{
	margin-right: 220px;
}

.tab-panel .tab-panel-content{
	padding: 5px;
}
.tab-panel img{
	width: 100%;
	height: 120px;
}
.tab-panel p{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.tab-panel .channel{
	color: #999;
}
.tab-panel .learner{
	display: inline-block;
	line-height: 1.5;
	padding:0 2px;
	font-size: 9px;
	color: #ccc;
	border: 1px solid #ddd;
	border-radius: 3px;
}
.tab-panel span.icon-listener{
	margin-right: 0px;
}
.tab-panel .price{
	color: #ff3f00;
}

.m-content .right{
	float: right;
	width: 220px;
}

/* left */
.nav-tabs{
	margin-bottom: 30px;
}
.nav-tabs li{
	float: left;
	width: 200px;
	height: 48px;
	background: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 48px;
	cursor: pointer;
}


li#products:hover{
	background: #21a557;
	color: white;
	opacity: 0.5;	
}
li#programming:hover{
	background: #21a557;
	color: white;
	opacity: 0.5;		
}


.agency .panel-body{
	font-size: 14px;
	color: #666;
}

.agency img{
	width: 180px;
	height: 110px;
	margin-top:10px; 
	cursor: pointer;

}

.hot .item{
	margin-bottom: 20px;
	height: 50px;
}

.hot img{
	float: left;
	width: 50px;
	height: 50px;
}

.hot .item-content{
	margin-left: 60px;
}

.hot .listener{
	margin-left: 2px;
}

.hot .item-name{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 12px;
    font-size: 14px;

}

.hot  span.li-num{
	font-size: 8px;
	color: #999999;
}
/* right */
.agency{
	margin-bottom: 20px;
}

.video{
	width: 950px;
	height: 675px;
}

.m-video span.icon-close{
	cursor: pointer;
}

.m-video p{
	margin: 27px 30px 20px 30px;
	text-align: left;
	font-size: 18px;
	color: #444;

}

.m-video video {
	width: 890px;
	height: 566px;
}
