

/* 这里不设inline-block，图标就出不来。 */
.notice span, .head span{
	display: inline-block;
}
.notice{
		background: #f3f3f3;
		line-height: 35px;
		font-size: 12px;

}

.notice a{
	color: #21a557;
}

.notice .close{
	float: right;
	cursor: pointer;
}
