.slider{
	width: 100%;
	height: 460px;
	overflow: hidden;
	position: relative;
}

.slider ul{
	position: absolute;
	width: 1625px;
	height: 100%;
	top: 0;
	left: 50%;
	margin-left: -812.5px; 
	overflow: hidden;
}

.slider ul li{
	position: absolute;
	transition-duration:500ms;
	opacity: 0;
}

